.banner {
  box-sizing: border-box;
  height: 100vh;
  background-image: url("../images/banner_1-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding-top: 146px;
}

.banner__img {
  display: none;
}

.banner__text {
  width: 265px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: $clr_main;
}

.banner__btn {
  margin-top: 12px;
  margin-left: 1px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #161616;
  background-color: #ffe500;
  padding: 20px 41px 19px;
  border: none;
  align-self: flex-start;
}

.banner__controls {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.banner__arrow {
  background-color: transparent;
  border: none;
  color: $clr_main;
  padding: 0;
}

.banner__pagination {
  width: 60px;
  color: $clr_main;
  text-align: center;
}
