.feedback {
  padding-top: 44px;
  padding-bottom: 57px;
}

.feedback__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.feedback__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: #eff0f1;
  border: 1px solid #eff0f1;
  padding: 15px 17px;
  margin-bottom: 20px;
}

.feedback__btn {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: $clr_second;
  color: $clr_main;
  padding: 22px 10px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .feedback__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .feedback__input {
    width: 32%;
    margin: 0;
  }

  .feedback__btn {
    padding: 19px 10px;
    width: 32%;
  }
}

@media (min-width: $desktop) {
  .feedback {
    padding-bottom: 99px;
  }

  .feedback__title {
    font-size: 25px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.13em;
    width: 720px;
    margin: 12px 274px 30px;
  }

  .feedback__form {
    width: 698px;
    margin: 21px 291px 0;
  }

  .feedback__input {
    width: 249px;
    padding: 27px 17px;
  }

  .feedback__btn {
    width: 170px;
    align-self: stretch;
    padding-top: 19px;
    letter-spacing: 1px;
  }
}
