.land {
  padding-top: 50px;
}

.land__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.land__text {
  margin-top: 21px;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
}

.land__btn {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: $clr_second;
  color: $clr_main;
  padding: 22px 10px;
  box-sizing: border-box;
  margin-top: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
