.main-menu {
  @include no-list;

  display: none;
}

.main-menu--open {
  display: block;
}

.main-menu__link {
  color: $clr_main;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

@media (min-width: $desktop) {
  .main-menu {
    display: block;
  }

  .main-menu__link {
    font-size: 13px;
    line-height: 1.2;
  }
}
