$colorStop: 100px;
$colorStopTablet: 500px;

.warehouse {
  padding-top: 59px;
  padding-bottom: 33px;
  background-color: $clr_second;
  background-image: linear-gradient(
    to bottom,
    $clr_main 0%,
    $clr_main $colorStop,
    $clr_second $colorStop,
    $clr_second 100%
  );
}

.warehouse__title {
  color: $clr_main;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-top: 18px;
}

.warehouse__text {
  color: $clr_main;
  margin-top: 21px;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
}

.warehouse__btn {
  cursor: pointer;
  width: 100%;
  border: 1px solid $clr_main;
  background-color: $clr_second;
  color: $clr_main;
  padding: 22px 10px;
  box-sizing: border-box;
  margin-top: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .warehouse {
    position: relative;
    margin-top: 100px;
    padding-bottom: 110px;
    background-image: linear-gradient(
      to bottom,
      $clr_second 0%,
      $clr_second $colorStopTablet,
      $clr_main $colorStopTablet,
      $clr_main 100%
    );
  }

  .warehouse__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);

    picture {
      position: absolute;
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      align-self: end;
      justify-self: end;
      bottom: 0;
      right: 0;
    }
  }

  .warehouse__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .warehouse__text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .warehouse__btn {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .warehouse__img {
    width: 350px;
  }
}
