$colorStop: 100px;
$colorStopTablet: 500px;
$colorStopDesktop: 603px;

.warehouse {
  padding-top: 59px;
  padding-bottom: 33px;
  background-color: $clr_second;

  @include bgGradient($colorStop);
}

.warehouse__title {
  color: $clr_main;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-top: 18px;
}

.warehouse__text {
  color: $clr_main;
  margin-top: 21px;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
}

.warehouse__btn {
  cursor: pointer;
  width: 100%;
  border: 1px solid $clr_main;
  background-color: $clr_second;
  color: $clr_main;
  padding: 22px 10px;
  box-sizing: border-box;
  margin-top: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .warehouse {
    position: relative;
    margin-top: 100px;
    padding-bottom: 110px;

    @include bgGradient($colorStopTablet);
  }

  .warehouse__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);

    picture {
      position: absolute;
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      align-self: end;
      justify-self: end;
      bottom: 0;
      right: 0;
    }
  }

  .warehouse__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .warehouse__text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .warehouse__btn {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .warehouse__img {
    width: 350px;
  }
}

@media (min-width: $desktop) {
  .warehouse {
    padding-top: 132px;
    padding-bottom: 250px;

    @include bgGradient($colorStopDesktop);
  }

  .warehouse__container {
    position: relative;
  }

  .warehouse__title {
    margin-top: 73px;
    margin-left: 20px;
    letter-spacing: 3.9px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 30px;
    line-height: 1.2;
  }

  .warehouse__text {
    text-align: left;
    margin-top: 19px;
    margin-left: 20px;
    width: 490px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .warehouse__btn {
    margin-top: 15px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
    padding-left: 29px;
    padding-right: 35px;
    padding-bottom: 19px;
    letter-spacing: 1.8px;
  }

  .warehouse__container picture {
    position: absolute;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: start;
    align-self: start;
    width: 938px;
    height: auto;
    top: 0;
    left: 0;

    .warehouse__img {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 14px;
      width: 100%;
    }
  }
}
