@mixin no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin center($width: auto) {
  width: $width;
  margin: 0 auto;
}

@mixin bgGradient(
  $brakePoint: 200px,
  $startColor: $clr_second,
  $endColor: $clr_main
) {
  background-image: linear-gradient(
    to bottom,
    $startColor 0%,
    $startColor $brakePoint,
    $endColor $brakePoint,
    $endColor 100%
  );
}
